title: Azamuke Denish
description: "Create value make money ."
url: https://azamukedenish.github.io

logo:
  path: "/assets/img/m-icon-blue-on-white.png"
  width: 300
  height: 300

image: "/assets/img/writings.jpg"
theme_color: "#2196f3"

author:
  name: Azamuke Denish
  email: denishazamuke@gmail.com
  uri: https://twitter.com/stevebaros
  avatar: "/assets/img/m-icon-white-on-blue.png"
  bio: " There comes a time in every man's life when he is either coding or doing something worse."
  facebook: 19665stevebaros
  twitter: stevebaros
  instagram: stevebaros
  google_plus: stevebaros
  linkedin: stevebaros
  pinterest: stevebaros
  tumblr: stevebaros
  github: stevebaros
  keybase: stevebaros
  street: "First Street"
  locality: Kampala
  region: central
  postcode: 2570
  country: Uganda

facebook:
  admins: 100001982813077

twitter:
  username: stevebaros

disqus_shortname: stevebaros-me
google_cse_id: 003203019626111314589:pxhon_hlo2q
google_api_key: AIzaSyB27uh5sPHJ156nRryf1yuJn6fjo_B7qvI
google_analytics_id: UA-99335803-1
google_analytics_id_2: UA-99335803-2
language: en

nav:
  - title: Articles 
    url: "/writings/"
  - title: About
    url: "/about/"
  - title: Contact
    url: "/contact/"    
  - title: Books
    url: "/books/"
  - title: Privacy Policy
    url: "/privacy_policy/"
    

repository: stevebaros/stevebaros.me
branch: master
encoding: utf-8
timezone: Africa/Kampala
locale: en_us
future: true

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  toc_levels: 1..3

highlighter: rouge

gist:
  noscript: false

paginate_path: "/writings/page:num/"
paginate: 10

permalink: "/:title/"
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
  - scope:
      path: "uploads/**/*.pdf"
    values:
      sitemap: false

plugins:
  - jemoji
  - jekyll-feed
  - jekyll-gist
  - jekyll-github-metadata
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-sitemap

compress_html:
  clippings: all
  comments: all
  ignore:
    envs: development
  profile: false

include:
  - "_pages"

exclude:
  - README.md
  - LICENSE
  - CNAME
  - Gemfile
  - Gemfile.lock
  - Rakefile
  - Gruntfile.js
  - package.json
  - npm-debug.log
  - node_modules
  - vendor
  - bundle
  - ".bundle"
  - ".sass-cache"
  - script
  - src
